# 核心科學運算 (放寬版本以解決安裝問題)
numpy
pandas
scipy
matplotlib

# 系統與工具
appdirs==1.4.4
# appnope==0.1.2  
argon2-cffi
astroid
async-generator
attrs
backcall
beautifulsoup4
black
bleach
bs4
certifi
cffi
chardet
click
cycler
decorator
defusedxml
entrypoints
et-xmlfile
flake8
GPUtil
idna
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lazy-object-proxy
lz4  # 放寬版本
MarkupSafe
matplotlib-inline
mccabe
mistune
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook
openpyxl
packaging
pandocfilters
parso
pathspec
pexpect
pickleshare
Pillow
pluggy
prometheus-client
prompt-toolkit
ptyprocess
py
pycodestyle
pycparser
pycryptodome  # 這是關鍵，它會提供 'Crypto' 模組
pyflakes
Pygments
pylint
pyparsing
pyrsistent
pytest
python-dateutil
pytz
pyyaml
pyzmq
qtconsole
QtPy
regex
requests
Send2Trash
six
soupsieve
terminado
testpath
toml
tornado
tqdm
traitlets
typing-extensions
urllib3
wcwidth
webencodings
widgetsnbextension
wrapt